{
  "branches": ["main"],
  "preset": "angular",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md"]
      }
    ],
    {
      "path": "@semantic-release/github",
      "assets": ["build/*.zip"],
      "draftRelease": true
    }
  ],
  "releaseRules": [
    { "type": "refactor", "release": "patch" }
  ]
}
