{
  "branches": ["main"],
  "preset": "angular",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md"]
      }
    ],
    {
      "path": "@semantic-release/github",
      "assets": ["build/*.zip"],
      "draftRelease": true
    }
  ],
  "releaseRules": [
    { "type": "refactor", "release": "patch" }
  ],
  "presetConfig": {
    "types": [
      { "type": "feat", "section": "✨ Features" },
      { "type": "fix", "section": "🐛 Bug Fixes" },
      { "type": "refactor", "section": "♻️ Code Refactoring" },
      { "type": "perf", "section": "🚀 Performance Improvements" }
    ]
  }
}
